<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartisanos.textboom" >

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:name="com.smartisanos.textboom.BoomApplication"
        android:label="@string/app_label"
        android:icon="@drawable/icon_bigbang"
        android:allowBackup="true" >
        <activity
            android:name=".BoomActivity"
            android:theme="@style/BaseStyle"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoomOcrActivity"
            android:theme="@style/BaseStyleTrans"
            android:configChanges="screenSize|layoutDirection|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoomSearchActivity"
            android:theme="@style/BoomSearchActivityStyle" />
        <activity
            android:name=".TextBoomSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SettingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OptionsActivity"
            android:screenOrientation="portrait" android:theme="@style/SettingTheme" />
        <provider
            android:authorities="com.smartisanos.textboom.call_method"
            android:name="com.smartisanos.textboom.TextBoomCallProvider"
            android:multiprocess="true"
            android:exported="true"
            />
    </application>

</manifest>
